---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Expertise from '../components/Expertise.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Francisco Vidales - Banking Professional">
  <Header />
  <Hero />
  <main>
    <About />
    <Expertise />
    <Experience />
    <Education />
    <Contact />
  </main>
  <Footer />
</Layout>