---
---
<section id="about" class="section">
  <div class="container">
    <div class="card about-card">
      <h2 class="gradient-text">About Me</h2>
      <p>
        Dedicated AML Risk Associate with expertise in financial compliance and risk management. Specialized in anti-money laundering procedures and regulatory compliance at Morgan Stanley. Commited to maintaining the integrity of financial systems and preventing financial crimes. Dynamic and goal-oriented professional with substantial experience overseeing banking operations. 
      </p>
    </div>
  </div>
</section>

<style>
  .about-card p {
    line-height: 1.8;
  }
</style>