---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Francisco Vidales - Banking Professional" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      @import "../styles/global.css";
    </style>
<meta name="google-site-verification" content="v2qK3cbSSvohN9ixjvq7BR6AF_UWmAB7hrnCBrpyLpM" />
  </head>
  <body>
    <slot />
    <script src="../scripts/scroll.js"></script>
  </body>
</html>
